.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active {
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
}

.pagination li.active:hover {
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    cursor:not-allowed
}

.pagination-container {
    text-align: center;
}

li > a {
    text-decoration: none;
    color: black;
}

.showpage {
    text-align: right;
}